doctype=html
html
    head
        title Certificado do Evento
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Inconsolata')
    body
        block content